{% extends 'base.html' %}
<!-- Main component for a primary marketing message or call to action -->
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% block jumbotron %}

{% if messages %}
  <ul class="messages">
    {% for msg in messages %}       
      <p>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{msg.message}}
          </div>
    
      </p>
    {% endfor %}
  </ul>
  {% endif %}

<div class="jumbotron">
    <h1>Welcome to Callhub IVR</h1>
    <p>Hello This is Configurable Callhub Interactive Voice Response System</p>
    <h4> please follow the instructions to use the application </h4>
    <ol>
        <li>Create an Account on Callhub IVR</li>
        <li>Sign In to Account</li>
        <li>Click on 'Add IVR'</li>
        <li>Enter the details of IVR (like welcome message, no input message etc. ) and click 'Save and Get Endpoint'</li>
        <li>Now it will redirect you to Your IVRs you get click on 'Get Endpoint' to get IVR Endpoint to put into Plivo</li>
    </ol>
    <p>
      <a class="btn btn-lg btn-default" href="/response/ivr/sample/" role="button">Sample IVR</a>
    	{% if user.is_authenticated %}
     <a class="btn btn-lg btn-success" href="/request/config_ivr/" role="button">Add an IVR</a> 
     <a class="btn btn-lg btn-primary" href="/response/ivr/list/" role="button">Your IVRs </a> <!-- 
      <a class="btn btn-lg btn-primary" href="/response/ivr/" role="button">Your IVRs </a>  -->
     	{% endif %}
    </p>
</div>
{% endblock %}

{% block content %}

<div class="row">
<div class="col-md-4">
	<h1></h1>
	
</div>

</div>

{% endblock %}